<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578960754386-qk0s1f3s8ggqh84lgb6543db04lbhra5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578960754386-qk0s1f3s8ggqh84lgb6543db04lbhra5</string>
	<key>API_KEY</key>
	<string>AIzaSyC8xA_Bj5xAEHqu1vLDfl76PHly5tYGLqU</string>
	<key>GCM_SENDER_ID</key>
	<string>578960754386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Youssef-Azroun.Habit-tracker</string>
	<key>PROJECT_ID</key>
	<string>habit-tracker-60bc1</string>
	<key>STORAGE_BUCKET</key>
	<string>habit-tracker-60bc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578960754386:ios:c5330f96bf2c3fc94f0f0b</string>
</dict>
</plist>